.container {
  background-color: lavender;
}

header {
  font-size: 48px;
  text-align: center;
  background-color: white;
}

#college {
  width: 600px;
  height: 100px;
  background-color: lightblue;
}

#name {
  width: 50px;
  height: 50px;

}

text {
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: right;
}

#occupation {
  width: 100px;
  height: 50px;
}

h2 {
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: right;
}

#idnum {
  width: 150px;
  height: 50px;
}

h3 {
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: right;
}

#web {
  width: 200px;
  height: 100px;
  color: black;
}

#card {
  width: 600px;
  height: 400px;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  width: 100px;
  height: 100px;
}

