.container {
  background-color:lightblue;
  margin:10px;
}
header {
  font-size:48px;
  background-color:white;
  margin:auto;
}
#card {
  background-color:white;
  width:400px;
  height:300px;
  margin:auto;
  border:solid 2px slateblue;
}
#img {
  width:400px;
  height:200px;
}
h1 {
  font-size:24px;
  display:inline;
  text-align:center;
  margin:10px;
}
h2 {
  display:inline;
}
h3 {
  display:inline;
}
span {
  font-size:24px;
}
