.container {
    background-color: lavender
}
header {
    font-size: 48px;
    text-align: center;
    background-color: white;
}

#card {
    width: 300px;
    height: 200px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

span {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.hunter,.ccny {
    width: 100px;
    height: 100px;
    display: inline-block;
}